[Unit]
Description=HAProxy for CyCore Services
After=docker.service
After=ccproxy@%i.service
Requires=ccproxy@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/mkdir -p /data/haproxy.cycore/certs
ExecStartPre=/usr/bin/touch /data/haproxy.cycore/haproxy.cfg
ExecStart=/usr/bin/docker run --rm --name %p --net=host \
   -v /data/haproxy.cycore/certs:/data/certs \
   -v /data/haproxy.cycore/haproxy.cfg:/etc/haproxy.cfg \
   haproxy haproxy -f /etc/haproxy.cfg -p /var/run/haproxy.pid
ExecStopPost=-/usr/bin/docker stop %p
ExecStopPost=-/usr/bin/docker rm %p
ExecReload=/usr/bin/docker exec %p haproxy -f /etc/haproxy/haproxy.cfg -p /var/run/haproxy.pid -sf 
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[X-Fleet]
MachineOf=ccproxy@%i.service
